{% extends 'base.html' %}

{% block title %}

Main pageeee
{% endblock %}

{% block body %}
<h1> Main page rrr</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Aliquam eligendi fugit incidunt sunt!</li>
<li>Eos officia pariatur quae voluptatem!</li>
<li>Aliquid error est expedita impedit.</li>
<li>Amet doloremque ea libero quo?</li>
<li>Distinctio mollitia neque non vel.</li>
<li>Culpa ipsum iure maiores perferendis.</li>
<li>Amet labore nesciunt numquam rem.</li>
<li>Ad adipisci dicta error sequi?</li>
<li>Architecto exercitationem quam voluptatem voluptatibus!</li>
<li>Commodi exercitationem harum quisquam vero?</li>
<li>Adipisci commodi molestiae porro quas.</li>
<li>Adipisci aliquam deserunt laboriosam quibusdam!</li>
<li>Asperiores commodi quae quasi tempora?</li>
<li>Ad cumque error quibusdam repudiandae.</li>
<li>Distinctio labore sint temporibus voluptatibus.</li>
<li>Animi molestias quas quis voluptatibus!</li>
<li>Cupiditate dolorum est officiis porro?</li>
<li>Consequatur harum magnam molestiae odit?</li>
<li>Corporis earum quaerat quam similique.</li>
<li>Harum libero magni minima possimus.</li>
<li>Architecto consectetur fugiat similique suscipit.</li>
<li>Esse ipsum molestiae nobis tenetur!</li>
<li>Amet ipsum magnam modi nesciunt!</li>
<li>Aperiam ducimus placeat sit totam?</li>
<li>Impedit officiis omnis quis sed.</li>
<li>Illum nisi quod sint voluptates!</li>
<li>Deleniti doloremque et facilis voluptates?</li>
<li>Delectus libero molestiae sint voluptatibus.</li>
<li>Amet enim labore rerum sed.</li>
<li>Accusantium ea ipsum laboriosam quas!</li>
<li>Asperiores harum quia rem ullam.</li>
<li>Laudantium quae quidem veniam voluptas.</li>
<li>Facilis modi nesciunt quia quisquam?</li>
<li>Cum deleniti eius expedita totam?</li>
<li>Adipisci atque eum nulla quidem?</li>
<li>At culpa incidunt quia saepe?</li>
<li>Fugit non quae voluptatem voluptates?</li>
<li>Hic, iure, quidem! Culpa, inventore?</li>
<li>Corporis distinctio doloremque eum iste.</li>
<li>Aliquid illo inventore nisi nobis?</li>
<li>Alias at maiores nam veritatis!</li>
<li>Aspernatur omnis quo sapiente voluptatibus!</li>
<li>Architecto deleniti dolorum eius hic.</li>
<li>Consequatur hic non ut voluptates!</li>
<li>Consequatur facere necessitatibus possimus veritatis.</li>
<li>Impedit maxime numquam repellat sint!</li>
<li>Consectetur deserunt nisi similique veritatis.</li>
<li>Aliquam consequatur mollitia praesentium ut.</li>
<li>Consectetur error excepturi ipsam molestiae.</li>
<li>Cum dolore repellat suscipit ut?</li>
<li>Nesciunt quia rem reprehenderit sed.</li>
<li>Cumque libero sint soluta. Expedita.</li>
<li>Alias aut esse exercitationem totam?</li>
<li>A dolores earum reiciendis vitae.</li>
<li>Cumque iure laboriosam perspiciatis voluptas!</li>
<li>Distinctio ea possimus ullam ut.</li>
<li>Distinctio minus necessitatibus officia perspiciatis.</li>
<li>Deleniti mollitia nam similique vel!</li>
<li>Iure molestias nesciunt sit veniam!</li>
<li>Deserunt incidunt non rem suscipit.</li>
<li>Dolores maxime provident sint tenetur!</li>
<li>Atque dicta ducimus itaque nobis.</li>
<li>A architecto illum quidem veniam.</li>
<li>Eveniet harum neque possimus sit.</li>
<li>Dolor magni quos rem voluptatum?</li>
<li>Minima necessitatibus quis quos repellendus?</li>
<li>Alias dolorem minus nulla temporibus!</li>
<li>Atque blanditiis enim saepe voluptatibus.</li>
<li>Cupiditate ex fugiat veritatis voluptates.</li>
{% endblock %}
